{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">Listaus</div>
    <table class="userlist">
        <tr>
            <th>Etunimi</th><th>Sukunimi</th><th>Ikä</th>
        </tr>
        <tr>
            <td>Aapo</td><td>Madesää</td><td>24</td>
        </tr>
        <tr>
            <td>Karoliina</td><td>Pesulammikko</td><td>29</td>
        </tr>
        <tr>
            <td>Juhana</td><td>Vihta</td><td>19</td>
        </tr>
    </table>
    <div class="panel-body"></div>

</div>

{% endblock %}
