#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}


#content{
    background-color: white;
    min-height: 500px;
}

#navigation{
    padding-top: 15px;
    border-bottom: thin solid;
    border-bottom-color: pink;
}